
@{
    ViewData["Title"] = "allbooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <main role="main" class="pb-3">
<h1>latest books</h1>


@foreach (book b in Model)
{
   
    <h1 class=text-center> @b.title</h1>
    <div class=row>
        <div class=col-8> @b.bref</div>
        <div class=col-4> <img src="@b.img" width="100px" height="100px" />  </div>
    </div>
    <div class=row>
        <div class=col-4> catalog :@b.cat.cat_name</div>
        <div class=col-4>date: @b.date</div>
        <div class=col-4> " <a asp-action="details" asp-route-id="@b.id">Read more ..</a>  </div>
        </div>
   

    <hr class="text-center" />
}
     </main>
    </div>
